node_modules
.env
.DS_Store
dist
build
coverage
npm-debug.log*
pnpm-lock.yaml
yarn.lock
package-lock.json
.vscode
.idea
*.pyc
__pycache__/
*.traineddata
venv/
.python-version
poetry.lock
ocr-service/venv/
ocr-service/.python-version
ocr-service/poetry.lock

